.topLayer{
    height: 50%;
    width: 752px;
    display:grid;
    grid-template-columns: 1fr 18px 1fr;
    justify-items:center;
    align-items: center;
}

.name {
    width: 364px;
    max-width: 364px;
    height: 72px;
    max-height: 72px;
}

.category {
    grid-column-start: 3;
    width: 364px;
    height: 72px;
}

.description {
    margin-left: 1px;
    width: 752px;
    height: 72px;
}

/* В ModalDelete */
.deleteMessage {
    color: black;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    width: 500px;
    height: 24px;
    align-self: center;
  }