.topLayer{
    height: 50%;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.name {
    outline: solid 2px #3f72af;
    outline-offset: -2px;
    border-radius: 4px;
    background-color: #dbe2ef;
}

.category {
    outline: solid 2px #3f72af;
    outline-offset: -2px;
    border-radius: 4px;
    background-color: #dbe2ef;
}

.description {
    outline: solid 2px #3f72af;
    outline-offset: -2px;
    border-radius: 4px;
    background-color: #dbe2ef;
}

/* В ModalDelete */
.deleteMessage {
    color: black;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    width: 500px;
    height: 24px;
    align-self: center;
  }