.field{
  display:flex;
  flex-direction: column;
  border-color:#3f72af;
  background-color: #dbe2ef;
  outline-color: #257FEA;
  border-style: solid;
  border-radius: 4px;
  margin:0px;
  padding:0px;
   margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0em;
    padding-inline-start: 0em;
    padding-inline-end: 0em;
    padding-block-end: 0em;
}

.title {
  margin-left: 10px;
  color: #3f72af;
  font-size: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  justify-content: center;
  background-color: #dbe2ef;
}

.input {
  color: #00000080;
  font-size: 20px;
  line-height: 46px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  white-space: nowrap;
  flex-direction: column;
  border-style: none;
  border-width: 0;
  outline-style: none;
  background-color: #dbe2ef;

  padding: 0;
  padding-block: 0px;
  padding-inline: 0px;

}

.redStar {
  color: #ec1d1d;
  font-size: 18px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
 
  width: 6px;
  height: 19px;
  justify-content: center;
  flex-direction: column;
}