.field{
  display:flex;
  width: 364px;
  height: 46px;
}

.text {


}

.text2 {

  color: #3f72af;
  font-size: 18px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: 19px;
  width: 7svw;
  justify-content: center;
  flex-direction: column;
  background-color: #dbe2ef;
}

.input {
  color: #00000080;
  font-size: 20px;
  line-height: 46px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
 
  height: 30px;
  white-space: nowrap;
  flex-direction: column;
  border-style: hidden;
  background-color: #dbe2ef;
}

.redStar {
  color: #ec1d1d;
  font-size: 18px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
 
  width: 6px;
  height: 19px;
  justify-content: center;
  flex-direction: column;
}